.card-profile-detail {
    padding: 10px 10px;
    width: 300px;
    margin-bottom: 10px;
    
}

.card-profile-detail2 {
    text-decoration: none !important;
    width: 200px;
    background-color: #E0001A;
    padding: 10px !important;
    border: 1px solid #ddd;
    
}


.col-di {
    background-color: #E0001A;
    border: none;
    color: white;
}

.body-size {
    
    
    column-count: 2;
}

.frofile-img {
    width: 100px;
    height: 200px;

}

.col-bt {
    background-color: #E0001A;
    width: 100px;
}

.pf-img {
    margin-top: 80px;
   
    width: 170px;
    height: 200px;
}
.card-pf {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-text {
    background-color: #E0001A;
}

.btn-plan {
    width: 300px !important;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    float: left;
    text-align: center;
    margin-right: 5px;
}

.btn-plan1 {
    background-color: #3A8DDD;
}

.btn-plan2 {
    background-color: #FFA74A;
}

.btn-plan3 {
    background-color: #4BBC99;
}


.btn-plan4 {
    background-color: #E64D3B;
}



.row-plan2 {
    grid-row:2;
    grid-column: 2 / span 2;
    background-color:#E64D3B;
}

.row-plan3 {
    grid-row:3; 
    grid-column: 4 / span 3; 
    background-color:#4BBC99;
}

.row-plan4 {
    grid-row:4; 
    grid-column: 6 / span 4; 
    background-color:#FFA74A;
}

.row-plan5 {
    grid-row:5; 
    grid-column: 10 / span 4; 
    background-color:#6099DC;
}

.row-plan6 {
    grid-row:6; 
    grid-column: 2 / span 5; 
    background-color:#4BBC99;
}

.row-plan7 {
    grid-row:7;
    grid-column: 4 / span 7;
    background-color:#FFA74A;
}

.col-per {
    color: #3D418E;
}