.text-red {
    color: #E0001A !important;
}

.dots span {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(8, 8, 8, 0.5);
    display: inline-block;
    margin: 0 10px 15px;
    /* T R-L B */
}

.text-category {
    color: #E0001A ;
}

.btn-black {
    color: #ffffff !important;
    background-color: #333333 !important;
}

.btn-blue {
    color: #ffffff !important;
    background-color: #23527C !important;
}

.sidebar .toggle-minimal .toggle.active .toggle-title ,.sidebar .toggle-minimal .toggle .toggle-title{
    color: #000000 !important;
}

.question-title {
    background-color: #F3F3F3;
    border-radius: 10px;
}

.questionnaire-comment,
.questionnaire-title {
    background-color: #FBFBFB;
}