.cursor-pointer {
    cursor: pointer;
}

.faq .toggle.toggle-minimal .toggle {
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.faq .toggle.toggle-minimal .toggle.active {
    border: 1px solid #DDDDDD;
}

.faq .toggle.toggle-minimal .toggle .toggle-title {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 20px;
    padding: 20px 25px;
    border-radius: 5px;
    background-color: #E0001A;
}

.faq .toggle.toggle-minimal .toggle.active .toggle-title {
    background-color: #E0001A;
}

.faq .toggle.toggle-minimal .toggle .toggle-content {
    color: #33313B;
    font-weight: normal;
    font-size: 17px;
    padding: 20px 45px;
}

.contact-title {
    padding-bottom: 8px;
    border-bottom: 3px solid #DDDDDD;
}

.contact-title span {
    border-bottom: 3px solid #E0001A;
    text-transform: none;
}

.contect-detial p {
    margin-bottom: 6px;
    color: #000000;
}

.contect-detial p:first-child {
    color: #2B4279;
}

#header .header-nav.header-nav-links .header-nav-main nav>ul>li:hover>a,
#header .header-nav.header-nav-links .header-nav-main nav>ul>li.open>a {
    color: #E0001A !important;
}

#header .header-nav.header-nav-links .header-nav-main nav>ul>li>a {
    text-transform: none;
    letter-spacing: 0.1px;
    font-weight: 500;
    color: #000000 !important;
}

.header-border {
    border-bottom: 7px solid #E0001A !important;
}

.course-menu .card-body{
    padding: 0px;
}

.course-menu .course-name{
    margin: 20px 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}

.course-menu .course-detail{
    background-color: #F3F3F3;
}

.course-menu .padding {
    padding: 20px;
}

.course-menu .course-detail p{
    margin-bottom: 0;
}

.course-menu .course-detail .detail{
    color: #A0A0A0;
    font-size: 16px !important;
}

.course-menu .course-detail .detail-value{
    color: #333333;
    font-size: 16px !important;
}

.course-menu .course-detail a.btn-main.detail-value{
    color: #FFFFFF;
    font-size: 16px !important;
    padding: 3px 40px;
    border-radius: 10px;
}

.course-menu .course-detail .padding{
    padding: 0 20px;
}

.course-btn {
    width: 85px !important;
    height: 30px !important;
    line-height: 30px;
    margin-top: -3px;
}

.course-btn-documents {
    width: 170px !important;
    height: 30px !important;
    line-height: 30px;
    margin-top: -1.5px;
    background-color: #23527C !important;
    cursor: pointer;
}

.course-btn-no-documents {
    width: 170px !important;
    height: 30px !important;
    line-height: 30px;
    margin-top: -1.5px;
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

#header .header-btn-collapse-nav {
    background: #E0001A !important;
}

#header .header-nav {
    align-self: center !important;
}

#header .header-container {
    height: 60px !important;
    min-height: 0 !important;
}

.tab-content p, .tab-content li {
    color: #000000;
}

